body {
    background-color: #40E0D0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@font-face {
    font-family: "Glamper";
    src: url("https://drive.google.com/file/d/1-JTVfdciuqofYLuieQi_YsWbzpjtQ-d6/view?usp=sharing"), format("otf"), 
    local("Glamper-Regular.otf"), format("otf");
}

#header {
    font-size: 60px;
    font-family: 'Glamper', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.subheader {
    font-size: 30px;
    font-family: 'Glamper', sans-serif;
}

p {
    margin: 1px;
}

#buttons {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    background-color: #FFC300;
    padding: 20px;
    border: 2px solid #FFC300;
    box-shadow: -3px 3px #FF5733, -2px 2px #FF5733, -1px 1px #FF5733;
    border-radius: 10px;
}

img {
    height: 100px;
    width: 100px;
}

#choices {
    display: flex;
    justify-content: center;
}

#player-choice {
    margin: 15px;
    padding: 10px;
    background-color: #FFC300;
    font-size: 50px;
    font-family: 'Glamper', sans-serif;
    border: 2px solid #FFC300;
    box-shadow: -3px 3px #FF5733, -2px 2px #FF5733, -1px 1px #FF5733;
    border-radius: 10px;
}

#comp-choice {
    margin: 15px;
    padding: 10px;
    background-color: #FFC300;
    font-size: 50px;
    font-family: 'Glamper', sans-serif;
    border: 2px solid #FFC300;
    box-shadow: -3px 3px #FF5733, -2px 2px #FF5733, -1px 1px #FF5733;
    border-radius: 10px;
}

#scoreboard {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    margin: 15px;
    padding: 10px;
    background-color: #FFC300;
    font-size: 50px;
    font-family: 'Glamper', sans-serif;
    border: 2px solid #FFC300;
    box-shadow: -3px 3px #FF5733, -2px 2px #FF5733, -1px 1px #FF5733;
    border-radius: 10px;
}

.popup {
    margin: 15px;
    padding: 10px;
    background-color: #FFC300;
    font-size: 50px;
    font-family: 'Glamper', sans-serif;
    border: 2px solid #FFC300;
    box-shadow: -3px 3px #FF5733, -2px 2px #FF5733, -1px 1px #FF5733;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}